
# Visual studio
*.user
*.obj
*.log
*.pdb
*.tlog
*.lastbuildstate
*.exe
*.dll
*.dll.recipe
*.lib
*.exp
*.iobj
*.ipdb
*.ipch
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ilk
*.idb
*.exe.recipe
*.FileListAbsolute.txt
*.sdf
*.opensdf
*.exe.embed.manifest
*.exe.embed.manifest.res
*_manifest.rc

# OpenWatcom
*.lk1
*.map
*.mk
*.mk1
*.sym
*.err

# DjvuLibre
c44.exe
cjb2.exe
djvm.exe
libdjvulibre.dll
libjpeg.dll
libtiff.dll
libz.dll


